<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organize It! - Event Organizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="hero-section">
    <h1 class="title">Organize It!</h1>
    <h1 class="subtitle">Event Organizer For All Your Special Days</h1>
    <div class="button-container">
        <a href="{{ url_for('auth.login', next=request.args.get('next')) }}" class="custom-button">Login</a> |
        <a href="{{ url_for('auth.register', next=request.args.get('next')) }}" class="custom-button">Register</a>
    </div>
</div>
</body>
</html>
